<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.AddressMapper">

<!--新增收获地址-->
	<!-- Integer insert(Address address);-->
	<insert id="insert" parameterType="cn.tedu.store.entity.Address" useGeneratedKeys="true" keyProperty="id">
		insert into t_address(
		  uid,
		  recv_name,
		  recv_province,
		  recv_city,
		  recv_area,
		  recv_address,
		  recv_district,
		  recv_phone,
		  recv_tel,
		  recv_zip,
		  tag,
		  is_default,
		  created_user,
		  created_time,
		  modified_user,
		  modified_time

		)values (

		#{uid},
		#{recvName},
		#{recvProvince},
		#{recvCity},
		#{recvArea},
		#{recvAddress},
		#{recvDistrict},
		#{recvPhone},
		#{recvTel},
		#{recvZip},
		#{tag},
		#{isDefault},
		#{createdUser},
		#{createdTime},
		#{modifiedUser},
		#{modifiedTime}

		)

	</insert>

	<update id="update" parameterType="cn.tedu.store.entity.Address">
		update t_address set
		<if test="isDefault==null">
			recv_name=#{recvName},
			recv_province=#{recvProvince},
			recv_city=#{recvCity},
			recv_area=#{recvArea},
			recv_address=#{recvAddress},
			recv_district=#{recvDistrict},
			recv_phone=#{recvPhone},
			recv_tel=#{recvTel},
			recv_zip=#{recvZip},
			tag=#{tag},
		</if>
		<if test="isDefault!=null">
			is_default=#{isDefault},
		</if>
		modified_user=#{modifiedUser},
		modified_time=#{modifiedTime}
		where
		uid=#{uid}
		<if test="id!=null">
			and id=#{id}
		</if>
	</update>


	<!--删除收获地址-->
	<!-- Integer delete(String where);-->
	<delete id="delete">
		delete from t_address where ${where}
	</delete>

	<!--List<Address> select(String where, String orderBy, Integer offset, Integer countPaPage);-->
	<select id="select" resultType="cn.tedu.store.entity.Address">
		select
		  id,uid,
		  recv_name recvName,
		  recv_province recvProvince,
		  recv_city recvCity,
		  recv_area recvArea,
		  recv_address recvAddress,
		  recv_district recvDistrict,
		  recv_phone recvPhone,
		  recv_tel recvTel,
		  recv_zip recvZip,
		  tag,
		  is_default,
		  created_user createdUser,
		  created_time createdTime,
		  modified_user modifiedUser,
		  modified_time modifiedTime
		from
		t_address
		<if test="where!=null">
			where ${where}
		</if>
		<if test="orderBy!=null">
			order By ${orderBy}
		</if>
		<if test="offset!=null">
			limit ${offset},${countPaPage}
		</if>
	</select>
</mapper>